<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="9000"/>
	</include>

	
	<node pkg="imu_sst" name="imu_sst" type="imu_sst.py" required="true" />
	<node pkg="imu_sst" name="webserver" type="webserver.py" args="8000" required="true" />
</launch>
